
  div.elem-group {
    margin: 20px 0;
  }
  
  label {
    display: block;
    margin-top: 5px;
  }
  
  input, select, textarea {
    border-radius: 15px;
    border: 1px solid #ad9260;
    box-sizing: border-box;
    font-size: 1.25em;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.071); 
  }

  input, select, textarea::placeholder {
    color: #fff;
    font-size: 18px;
  }
  
  .contact-form-box input::placeholder {
    color: #fff;
    font-size: 18px;
  }
  
  textarea {
    height: 250px;
  }
  
  /* hr {
    border: 1px dotted #ccc;
  } */
  
  #main-booking-form button {
    height: 50px;
    width: 150px;
    background: #ad9260;
    border: #fff;
    color: white;
    font-size: 1.25em;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    font-size: small;
  }
  
  /* #main-booking-form button:hover {
    border: 1px solid black;
  } */
  .wrapper{
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
  }
  #home-contact-form{
    text-align: center;
    display: flex;
    flex-direction: inherit;
    justify-content: center;

  }
  #home-contact-form input[type="email"]{
    max-width: 320px;
  }
  #home-contact-form button{
    padding: 12px 30px;
    height: auto;
    background: #ad9260;
    border-radius: 15px;
    color: #fff;
    width: 150px;
  }
  #home-contact-form button:hover{
    border: none;
  }
  .copy-right{
    padding: 10px 0;
  }
.btn-default{
    max-width: 350px;
    border-radius: 15px;
}
.contact-form-box input {
  margin: 0 0 60px;
}
body.tucky #header_id.tucky{
  position: relative !important;
} 
@media screen and (max-width: 560px){
  #carousl{
    display: none !important;
  }
}

.hero__button {
  padding: 12px 30px;
  height: auto;
  background: #ad9260;
  border-radius: 15px;
  color: #fff;
  width: 150px;
}

.header100 {
  height: 100%;
}

.mleft {
margin-left: 108px; }

.index9{
  z-index: 9;
  position: relative;
}
.dispcar {
  opacity: 1; display: block;
}

.owl2 {
width: 11856px; left: 0px; 
display: block; 
transition: all 800ms ease 0s; 
transform: translate3d(-1482px, 0px, 0px);
}

.width {
  width: 1482px;
}