
  div.title__form {
    margin: 20px 0;
  }
  
  label {
    margin-top: 5px;
    display: block;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ad9260;
    box-sizing: border-box;
    font-size: 1.25em;
    background: rgba(0, 0, 0, 0.071); 
  }

  input, select, textarea::placeholder {
    color: #fff;
    font-size: 18px;
  }
  
  .contact-form-box input::placeholder {
    font-size: 18px;

    color: #fff;
  }
  
  textarea {
    height: 250px;
  }
  
  #reserv__form button {
    margin-top: 9px;
    padding: 9px 29px;
    background: #ad9260;

    height: 48px;
    border: #fff;
    width: 149px;
    color: white;

    font-size: small;
    
    border-radius: 15px;
    cursor: pointer;
  }
  
  .wrapper{
    margin: 0 auto;

    max-width: 1100px;
    overflow: hidden;
  }

  .footer__c{
    text-align: center; 

    color: #000;
    padding: 10px 0;
  }


.btn-default{
  border-radius: 15px;
    max-width: 349px;
}
.contact-form-box input {
  margin: 0 0 60px;
}
body.tucky #header_id.tucky{
  position: relative !important;
} 
@media screen and (max-width: 560px){
  #carousl{
    display: none !important;
  }
}

.hero__button {
  padding: 12px 30px;
  height: auto;
  color: #fff;

  background: #ad9260;
  border-radius: 15px;
  width: 150px;
}

.header100 {
  height: 100%;
}

.mleft {
margin-left: 108px; }

.index9{
  z-index: 9;
  position: relative;
}
.dispcar {
  opacity: 1; display: block;
}

.owl2 {
  display: block; 
width: 11856px; left: 0px; 
transition: all 800ms ease 0s; 
transform: translate3d(-1482px, 0px, 0px);
}

.width {
  width: 1482px;
}

#reserv__form {
  background-color: #f6f3e7;
  width: 480px;
  height: 480px;
  position: absolute;
  left: 50%;
  top: 54%;
  text-align: center;
  color: #FFFFFF;

  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 20px rgba(51, 51, 51, 0.4);
  box-shadow: 0 0 0 20px rgba(51, 51, 51, 0.4);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

  #reserv__form h2 span {
    font-weight: bold; }

  #reserv__form h2 {
    font-size: 28px;
    font-weight: 100;
    margin: 109px 0 19px; }


    .reserv {
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0;
      
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
      
      @media (max-width: 992px) {
        .reserv {
          height: auto;
          left: auto;
          top: auto;
          position: initial;
          
          width: 100%;
          padding: 0;
          
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -webkit-transform: translateX(0);
          transform: translateX(0); } }
   
  #reserv__form .booking-form {
    margin: 0 auto;
    width: 318px; }

    #reserv__form  .booking-form .booking-fields {
      position: relative;
      margin: 3px 0;
      padding: 0; }

      #reserv__form .booking-form .booking-fields i.fa {
        position: absolute;
        top: 13px;

        right: 15px; }

    #reserv__form .booking-form input[type="text"], #reserv__form .booking-form .chosen-container {
      height: 40px;
      border: 1px solid #FFFFFF;
      width: 100%;
      background: rgba(51, 51, 51, 0.4);
      color: #FFFFFF; }
        
    #reserv__form .booking-form input[type="text"] {
      padding: 0 15px; }

    #reserv__form .booking-form select {
      width: 100%;
      height: 40px;
      background: rgba(51, 51, 51, 0.4);
      border: 1px solid #FFFFFF;
      padding: 0 10px; }
      
      #reserv__form .booking-form select option {
        background: #FFFFFF;
        color: #333333; }

        #reserv__form .booking-form select option:hover {
          background: #C5A46D;
          color: #FFFFFF; }

    #reserv__form .booking-form .booking-button-container {
      padding-top: 3px;
      clear: both; }

    #reserv__form .booking-form .chosen-container {
      text-align: left; }

      #reserv__form .booking-form .chosen-container .chosen-single {
        color: #FFFFFF;
        padding-left: 17px; }
        
        #reserv__form .booking-form .chosen-container .chosen-single div {
          width: 33px; }

        #reserv__form .booking-form .chosen-container .chosen-single b:before, #reserv__form .booking-form .chosen-container .chosen-single b:after {
          background: #FFFFFF; }

      #reserv__form .booking-form .chosen-container .chosen-search {
        display: none; }

      #reserv__form .booking-form .chosen-container .chosen-drop {
        width: calc(100% + 2px);
        left: -1px;
        background: #333333;
        border: 0;
        padding-bottom: 5px; }

      #reserv__form .booking-form .chosen-container.chosen-container-active .chosen-single {
        background: rgba(51, 51, 51, 0.4); }

      #reserv__form .booking-form .chosen-container.chosen-container-active .chosen-drop .chosen-results {
        margin: 0;
        padding: 0; }

        #reserv__form .booking-form .chosen-container.chosen-container-active .chosen-drop .chosen-results li {
          padding: 0 15px;
          line-height: 30px;
          color: #C5A46D;
          -webkit-transition: background 0.3s ease;
          -o-transition: background 0.3s ease;
          transition: background 0.3s ease; }

          #reserv__form .booking-form .chosen-container.chosen-container-active .chosen-drop .chosen-results li:hover {
            background: #C5A46D;
            color: #FFFFFF; }

    #reserv__form .booking-form input[type="submit"] {
      width: 100%;
      height: 40px; }

  #reserv__form.addcss {
    position: absolute;

    width: 793px;
    height: auto;
    background: rgba(255,255,255,0.75);
    left: 140px;
    top: 35%;
    text-align: center;
    color: #333333;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
    padding: 10px; }


    #reserv__form.addcss h2 {
      color: #000;
      margin-top: 0;
    font-weight: 500; }

    #reserv__form.addcss .booking-form {
      width: 100%; }

    #reserv__form.addcss input[type="text"], #reserv__form.addcss .chosen-container, #reserv__form.addcss select {
      border: 1px solid #ad9260;
      background: rgba(255, 255, 255, 0.7);
      color: #333333;
      height: 50px; }


    #reserv__form.addcss i {
      color: #333333; }
      #reserv__form.addcss i.fa {
        top: 22px !important; }

    #reserv__form.addcss .booking-fields {
      padding: 5px 0; }
    #reserv__form.addcss .booking-button-container {
      padding-top: 9px; }
      #reserv__form.addcss .booking-button-container input {
        height: 50px; }

  @media (max-width: 992px) {
    #reserv__form {

      position: initial;
      background: #333333;
      left: auto;
      top: auto;
      padding: 20px 15px;
      width: 100%;
      height: auto;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      -moz-transform: translateX(0) translateY(0);
      -ms-transform: translateX(0) translateY(0);
      -webkit-transform: translateX(0) translateY(0);
      transform: translateX(0) translateY(0); }

      #reserv__form h2 {
        margin: 0 0 20px; }

      #reserv__form .booking-form {
        width: 100%; }

        #reserv__form .booking-form .booking-fields {
          padding: 0 15px; }

          #reserv__form .booking-form .booking-fields i.fa {
            right: 25px; }

        #reserv__form .booking-form .booking-button-container {
          padding: 3px 15px 0; }

      #reserv__form.addcss {
        position: initial;
        background: #333333;
        left: auto;

        top: auto;
        padding: 40px 15px 60px;
        background: #ecedee;
        width: 100%;

        height: auto;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;

        -webkit-box-shadow: none;
        box-shadow: none;


        -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0); }

        #reserv__form.addcss h2 {
          margin: 0 0 30px; }

        #reserv__form.addcss .booking-form {
          width: 100%; }

          #reserv__form.addcss .booking-form .booking-fields {
            padding: 0 15px; } }

        @media (max-width: 992px) and (max-width: 600px) {
          #reserv__form.addcss .booking-form .booking-fields {
            width: 100%;
            float: none; } }

  @media (max-width: 992px) {
            #reserv__form.addcss .booking-form .booking-fields i.fa {
              right: 25px;
              top: 18px !important; }
              
          #reserv__form.addcss .booking-form .booking-button-container {
            padding: 3px 15px 0; } }
  @media (max-width: 420px) {
    #reserv__form.addcss .booking-form .booking-fields {
      padding: 0 !important; }

      #reserv__form.addcss .booking-form .booking-fields i.fa {
        right: 10px; }
        
    #reserv__form.addcss .booking-button-container {
      padding: 3px 0 0 !important; } }


      #blocks__about, #special-dishes, #special-packages-type-2 {
        background: #fff;
        padding: 1px 0 100px; }

        #blocks__about h2, #special-dishes h2, #special-packages-type-2 h2 {
          margin-top: 0; }

                #email{
                  text-align: center;
                  display: flex;
                  flex-direction: inherit;
                  justify-content: center;
              
                }
                #email input[type="email"]{
                  max-width: 320px;
                }
                #email button{
                  padding: 12px 30px;
                  height: auto;
                  background: #ad9260;
                  border-radius: 15px;
                  color: #fff;
                  width: 150px;
                }
                #email button:hover{
                  border: none;
                }                

                #end__id {
                  background: #f6f3e7;
                  color: #d0d4d7;
                  position: relative;
                  border-top: 3px solid #C5A46D;
                  padding: 50px 0; }


                  .blocks__cont {
                    margin: 80px auto 30px; }
                    .blocks__cont .room-box {
                      text-align: center;
                      margin-bottom: 60px; }
                      .blocks__cont .room-box .img-container {
                        position: relative;
                        height: 250px;
                        overflow: hidden; }
                        .blocks__cont .room-box .img-container:before {
                          display: block;
                          content: "";
                          position: absolute;
                          left: 10px;
                          top: 10px;
                          z-index: 1;
                          -webkit-transition: all 0.5s ease;
                          -o-transition: all 0.5s ease;
                          transition: all 0.5s ease;
                          width: calc(100% - 20px);
                          height: calc(100% - 20px);
                          -webkit-box-shadow: 0 0 0 10px rgba(51, 51, 51, 0.3);
                          box-shadow: 0 0 0 10px rgba(51, 51, 51, 0.3); }
                        .blocks__cont .room-box .img-container .check-box-container {
                          position: absolute;
                          left: 20px;
                          top: 20px;
                          z-index: 2; }
                          .blocks__cont .room-box .img-container .check-box-container input {
                            display: none; }
                            .blocks__cont .room-box .img-container .check-box-container input:checked + label span:before {
                              visibility: visible;
                              opacity: 1;
                              filter: alpha(opacity=100);
                              -webkit-transform: rotate(0);
                              -ms-transform: rotate(0);
                              -o-transform: rotate(0);
                              transform: rotate(0); }
                          .blocks__cont .room-box .img-container .check-box-container label {
                            font-size: 14px !important;
                            color: #FFFFFF;
                            text-align: left;
                            line-height: 17px !important;
                            margin: 0;
                            width: 120px;
                            cursor: pointer; }
                            .blocks__cont .room-box .img-container .check-box-container label span {
                              display: inline-block;
                              width: 30px;
                              height: 30px;
                              border: 1px solid #FFFFFF;
                              background: rgba(255, 255, 255, 0.4);
                              margin-right: 10px;
                              position: relative; }
                              .blocks__cont .room-box .img-container .check-box-container label span:before {
                                font: 20px "FontAwesome";
                                content: "\f00c";
                                position: absolute;
                                left: 5px;
                                top: 4px;
                                visibility: hidden;
                                color: #C5A46D;
                                opacity: 0;
                                filter: alpha(opacity=0);
                                -webkit-transform: rotate(360deg);
                                -ms-transform: rotate(360deg);
                                -o-transform: rotate(360deg);
                                transform: rotate(360deg);
                                -webkit-transition: all 0.3s ease;
                                -o-transition: all 0.3s ease;
                                transition: all 0.3s ease; }
                            .blocks__cont .room-box .img-container .check-box-container label b {
                              font-weight: bold;
                              letter-spacing: 10px; }
                        .blocks__cont .room-box .img-container img {
                          position: absolute;
                          left: 0;
                          top: 50%;
                          max-width: 100%;
                          -webkit-transition: all 0.5s ease;
                          -o-transition: all 0.5s ease;
                          transition: all 0.5s ease;
                          -moz-transform: scale(1.05) translateY(-50%);
                          -ms-transform: scale(1.05) translateY(-50%);
                          -webkit-transform: scale(1.05) translateY(-50%);
                          transform: scale(1.05) translateY(-50%); }
                        .blocks__cont .room-box .img-container a.btn, .blocks__contblocks__cont .room-box .img-container aside.sidebar .tagcloud a, aside.sidebar .widget.widget_tag_cloud .tagcloud .blocks__cont .room-box .img-container a {
                          position: absolute;
                          left: 50%;
                          top: 20%;
                          z-index: 2;
                          visibility: hidden;
                          opacity: 0;
                          filter: alpha(opacity=0);
                          -webkit-transition: all 0.5s ease;
                          -o-transition: all 0.5s ease;
                          transition: all 0.5s ease;
                          -moz-transform: translateX(-50%) translateY(-50%);
                          -ms-transform: translateX(-50%) translateY(-50%);
                          -webkit-transform: translateX(-50%) translateY(-50%);
                          transform: translateX(-50%) translateY(-50%); }
                      .blocks__contblocks__cont .room-box .details {
                        border-bottom: 1px solid #C5A46D;
                        position: relative;
                        padding: 40px 0 50px;
                        -webkit-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        transition: all 0.5s ease; }
                        .blocks__cont .room-box .details .title {
                          color: #C5A46D;
                          font-size: 26px;
                          margin-bottom: 30px;
                          letter-spacing: -2px; }
                          .blocks__cont .room-box .details .title a {
                            color: #C5A46D; }
                          .blocks__cont .room-box .details .title span {
                            font-weight: bold; }
                        .blocks__contblocks__cont .room-box .details .desc {
                          line-height: 30px;
                          max-width: 85%;
                          margin: 0 auto; }
                        .blocks__cont .room-box .details .price {
                          padding: 0 20px;
                          border: 1px solid #C5A46D;
                          background: #FFFFFF;
                          font-family: "Lobster", Arial, Helvetica, sans-serif;
                          position: absolute;
                          left: 50%;
                          bottom: -23px;
                          color: #C5A46D;
                          height: 45px;
                          line-height: 45px;
                          white-space: nowrap;
                          -moz-transform: translateX(-50%);
                          -ms-transform: translateX(-50%);
                          -webkit-transform: translateX(-50%);
                          transform: translateX(-50%); }
                          .blocks__cont .room-box .details .price span {
                            vertical-align: middle;
                            font-size: 30px; }
                      .blocks__cont .room-box:hover .img-container:before {
                        background: rgba(51, 51, 51, 0.6); }
                      .blocks__cont .room-box:hover .img-container img {
                        -moz-transform: scale(1) translateY(-50%);
                        -ms-transform: scale(1) translateY(-50%);
                        -webkit-transform: scale(1) translateY(-50%);
                        transform: scale(1) translateY(-50%); }
                      .blocks__cont .room-box:hover .img-container a.btn, .blocks__cont .room-box:hover .img-container aside.sidebar .widget.widget_tag_cloud .tagcloud a, aside.sidebar .widget.widget_tag_cloud .tagcloud .blocks__cont .room-box:hover .img-container a {
                        top: 50%;
                        visibility: visible;
                        opacity: 1;
                        filter: alpha(opacity=100); }
                      .blocks__cont .room-box:hover .details {
                        background-color: #f0f2f2;
                        border-color: #333333; }
                    .blocks__cont.room-list .room-box .details {
                      padding: 30px 25px 30px 30px;
                      text-align: left;
                      height: 250px; }
                      .blocks__cont.room-list .room-box .details .price {
                        left: auto;
                        right: 0;
                        -moz-transform: translateX(0);
                        -ms-transform: translateX(0);
                        -webkit-transform: translateX(0);
                        transform: translateX(0); }
                      .blocks__cont.room-list .room-box .details .desc {
                        max-width: 100%; }
                        .blocks__cont.room-list .room-box .details .desc .facilities {
                          margin: 25px 0 0; }
                          .blocks__cont.room-list .room-box .details .desc .facilities li {
                            width: 32%;
                            padding: 0; }
                            .blocks__cont.room-list .room-box .details .desc .facilities li i {
                              color: #C5A46D;
                              margin-right: 15px; }
                    .blocks__cont.room-masonry {
                      padding: 0; }
                      .blocks__cont.room-masonry .room-box .img-container {
                        height: auto; }
                        .blocks__cont.room-masonry .room-box .img-container img {
                          position: initial;
                          left: auto;
                          top: auto;
                          -moz-transform: scale(1.05);
                          -ms-transform: scale(1.05);
                          -webkit-transform: scale(1.05);
                          transform: scale(1.05); }
                      .blocks__cont.room-masonry .room-box .details .price {
                        bottom: -50px;
                        visibility: hidden;
                        opacity: 0;
                        filter: alpha(opacity=0);
                        -webkit-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        transition: all 0.5s ease; }
                      .blocks__cont.room-masonry .room-box:hover .details .price {
                        bottom: -23px;
                        visibility: visible;
                        opacity: 1;
                        filter: alpha(opacity=100); }
                    @media (max-width: 1200px) {
                      .blocks__cont .room-box .img-container {
                        height: auto;
                        padding: 0; }
                        .blocks__cont .room-box .img-container img {
                          position: initial;
                          left: auto;
                          top: auto;
                          width: 100%;
                          -moz-transform: scale(1) translateY(0);
                          -ms-transform: scale(1) translateY(0);
                          -webkit-transform: scale(1) translateY(0);
                          transform: scale(1) translateY(0); }
                      .blocks__cont .room-box:hover .img-container img {
                        -moz-transform: scale(1) translateY(0);
                        -ms-transform: scale(1) translateY(0);
                        -webkit-transform: scale(1) translateY(0);
                        transform: scale(1) translateY(0); }
                      .blocks__cont.room-list .room-box .details {
                        height: auto; }
                        .blocks__cont.room-list .room-box .details .desc .facilities li {
                          width: 49%; } }
                    @media (max-width: 992px) {
                      .blocks__cont.room-list .room-box .img-container, .blocks__cont.room-list .room-box .details {
                        float: none;
                        width: 100%; }
                      .blocks__cont.room-list .room-box .img-container {
                        padding: 0; } }
                    @media (max-width: 767px) {
                      .blocks__cont .room-box {
                        float: none;
                        width: 100%; }
                      .blocks__cont.room-masonry .room-box {
                        float: left;
                        width: 50%; } }
                    @media (max-width: 600px) {
                      .blocks__cont.room-masonry .room-box {
                        float: none;
                        width: 100%; } }


                        #blocks__about .blocks__desc, #special-dishes .blocks__desc, #blocks__about .package-boxes, #special-dishes .package-boxes, #special-packages-type-2 .blocks__desc, #special-packages-type-2 .package-boxes {
                          height: 640px;
                          overflow: hidden;
                          margin-bottom: 220px;
                          position: relative;}
                
                          #blocks__about .blocks__desc:before, #special-dishes .blocks__desc:before, #blocks__about .package-boxes:before, #special-dishes .package-boxes:before, #special-packages-type-2 .blocks__desc:before, #special-packages-type-2 .package-boxes:before {
                            display: block;
                            content: "";
                            position: absolute;
                            right: 0;
                            top: 0;
                            z-index: 1;
                            width: 100%;
                            height: 100%;
                            -webkit-transition: all 0.6s ease;
                            -o-transition: all 0.6s ease;
                            transition: all 0.6s ease; }
                
                          #blocks__about .blocks__desc .room-img, #special-dishes .blocks__desc .room-img, #blocks__about .blocks__desc .package-img, #special-dishes .blocks__desc .package-img, #blocks__about .package-boxes .room-img, #special-dishes .package-boxes .room-img, #blocks__about .package-boxes .package-img, #special-dishes .package-boxes .package-img, #special-packages-type-2 .blocks__desc .room-img, #special-packages-type-2 .blocks__desc .package-img, #special-packages-type-2 .package-boxes .room-img, #special-packages-type-2 .package-boxes .package-img {
                            position: absolute;
                            left: 47%;
                            top: 50%;
                
                            max-width: 100%;
                            -webkit-transition: all 1s ease;
                            -o-transition: all 1s ease;
                            transition: all 1s ease;
                
                            -moz-transform: translateX(-50%) translateY(-50%);
                            -ms-transform: translateX(-50%) translateY(-50%);
                            -webkit-transform: translateX(-50%) translateY(-50%);
                            transform: translateX(-50%) translateY(-50%); }
                
                          #blocks__about .blocks__desc .blocks__text, #special-dishes .blocks__desc .blocks__text, #blocks__about .blocks__desc .package-details, #special-dishes .blocks__desc .package-details, #blocks__about .package-boxes .blocks__text, #special-dishes .package-boxes .blocks__text, #blocks__about .package-boxes .package-details, #special-dishes .package-boxes .package-details, #special-packages-type-2 .blocks__desc .blocks__text, #special-packages-type-2 .blocks__desc .package-details, #special-packages-type-2 .package-boxes .blocks__text, #special-packages-type-2 .package-boxes .package-details {
                            position: absolute;
                            left: 0;
                            top: 0;
                
                            background: #788186;
                            color: #FFFFFF;
                            padding: 170px 30px 30px;
                
                            height: 100%;
                            z-index: 1;
                
                            -webkit-transition: all 1s ease;
                            -o-transition: all 1s ease;
                            transition: all 1s ease; }
                
                            #blocks__about .blocks__desc .blocks__text .title, #special-dishes .blocks__desc .blocks__text .title, #blocks__about .blocks__desc .package-details .title, #special-dishes .blocks__desc .package-details .title, #blocks__about .package-boxes .blocks__text .title, #special-dishes .package-boxes .blocks__text .title, #blocks__about .package-boxes .package-details .title, #special-dishes .package-boxes .package-details .title, #special-packages-type-2 .blocks__desc .blocks__text .title, #special-packages-type-2 .blocks__desc .package-details .title, #special-packages-type-2 .package-boxes .blocks__text .title, #special-packages-type-2 .package-boxes .package-details .title {
                              font-size: 35px;
                              font-weight: bold;
                              
                              letter-spacing: -1px;
                              color: #FFFFFF; }
                
                            #blocks__about .blocks__desc .blocks__text .description, #special-dishes .blocks__desc .blocks__text .description, #blocks__about .blocks__desc .package-details .description, #special-dishes .blocks__desc .package-details .description, #blocks__about .package-boxes .blocks__text .description, #special-dishes .package-boxes .blocks__text .description, #blocks__about .package-boxes .package-details .description, #special-dishes .package-boxes .package-details .description, #special-packages-type-2 .blocks__desc .blocks__text .description, #special-packages-type-2 .blocks__desc .package-details .description, #special-packages-type-2 .package-boxes .blocks__text .description, #special-packages-type-2 .package-boxes .package-details .description {
                              margin: 20px 0;
                              color: #FFFFFF;
                              width: initial;
                              padding: 15px; }
                
                            #blocks__about .blocks__desc .blocks__text .btn, #special-dishes .blocks__desc .blocks__text .btn, #blocks__about .blocks__desc .blocks__text aside.sidebar  .tagcloud a, aside.sidebar .tagcloud #blocks__about .blocks__desc .blocks__text a, #special-dishes .blocks__desc .blocks__text aside.sidebar .tagcloud a, aside.sidebar .tagcloud #special-dishes .blocks__desc .blocks__text a, #blocks__about .blocks__desc .package-details .btn, #special-dishes .blocks__desc .package-details .btn, #blocks__about .blocks__desc .package-details aside.sidebar  .tagcloud a, aside.sidebar .tagcloud #blocks__about .blocks__desc .package-details a, #special-dishes .blocks__desc .package-details aside.sidebar .tagcloud a, aside.sidebar  .tagcloud #special-dishes .blocks__desc .package-details a, #blocks__about .package-boxes .blocks__text .btn, #special-dishes .package-boxes .blocks__text .btn, #blocks__about .package-boxes .blocks__text aside.sidebar  .tagcloud a, aside.sidebar .tagcloud #blocks__about .package-boxes .blocks__text a, #special-dishes .package-boxes .blocks__text aside.sidebar  .tagcloud a, aside.sidebar  .tagcloud #special-dishes .package-boxes .blocks__text a, #blocks__about .package-boxes .package-details .btn, #special-dishes .package-boxes .package-details .btn, #blocks__about .package-boxes .package-details aside.sidebar  .tagcloud a, aside.sidebar .tagcloud #blocks__about .package-boxes .package-details a, #special-dishes .package-boxes .package-details aside.sidebar .tagcloud a, aside.sidebar .tagcloud #special-dishes .package-boxes .package-details a, #special-packages-type-2 .blocks__desc .blocks__text .btn, #special-packages-type-2 .blocks__desc .blocks__text aside.sidebar .tagcloud a, aside.sidebar .tagcloud #special-packages-type-2 .blocks__desc .blocks__text a, #special-packages-type-2 .blocks__desc .package-details .btn, #special-packages-type-2 .blocks__desc .package-details aside.sidebar .tagcloud a, aside.sidebar .tagcloud #special-packages-type-2 .blocks__desc .package-details a, #special-packages-type-2 .package-boxes .blocks__text .btn, #special-packages-type-2 .package-boxes .blocks__text aside.sidebar .tagcloud a, aside.sidebar .tagcloud #special-packages-type-2 .package-boxes .blocks__text a, #special-packages-type-2 .package-boxes .package-details .btn, #special-packages-type-2 .package-boxes .package-details aside.sidebar .tagcloud a, aside.sidebar .tagcloud #special-packages-type-2 .package-boxes .package-details a {
                              padding: 6px 30px; }
                
                          #blocks__about .blocks__desc .blocks__cos, #special-dishes .blocks__desc .blocks__cos, #blocks__about .package-boxes .blocks__cos, #special-dishes .package-boxes .blocks__cos, #special-packages-type-2 .blocks__desc .blocks__cos, #special-packages-type-2 .package-boxes .blocks__cos {
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: 100%;
                            z-index: 2; }
                
                            #blocks__about .blocks__desc .blocks__cos .price, #special-dishes .blocks__desc .blocks__cos .price, #blocks__about .package-boxes .blocks__cos .price, #special-dishes .package-boxes .blocks__cos .price, #special-packages-type-2 .blocks__desc .blocks__cos .price, #special-packages-type-2 .package-boxes .blocks__cos .price {
                              position: absolute;
                              left: 53%;
                              top: 50%;
                              -moz-transform: translateX(-50%) translateY(-50%);
                              -ms-transform: translateX(-50%) translateY(-50%);
                              -webkit-transform: translateX(-50%) translateY(-50%);
                              transform: translateX(-50%) translateY(-50%);
                              font: 17px/3em "Lobster", Arial, Helvetica, sans-serif;
                              color: #C5A46D;
                              padding: 0 20px;
                              opacity: 0;
                              filter: alpha(opacity=0);
                              -webkit-transition: all 0.8s ease;
                              -o-transition: all 0.8s ease;
                              transition: all 0.8s ease; }
                
                              #blocks__about .blocks__desc .blocks__cos .price span, #special-dishes .blocks__desc .blocks__cos .price span, #blocks__about .package-boxes .blocks__cos .price span, #special-dishes .package-boxes .blocks__cos .price span, #special-packages-type-2 .blocks__desc .blocks__cos .price span, #special-packages-type-2 .package-boxes .blocks__cos .price span {
                                font-size: 40px;
                                vertical-align: middle; }
                
                          #blocks__about .blocks__desc.right .blocks__text, #special-dishes .blocks__desc.right .blocks__text, #blocks__about .blocks__desc.right .package-details, #special-dishes .blocks__desc.right .package-details, #blocks__about .package-boxes.right .blocks__text, #special-dishes .package-boxes.right .blocks__text, #blocks__about .package-boxes.right .package-details, #special-dishes .package-boxes.right .package-details, #special-packages-type-2 .blocks__desc.right .blocks__text, #special-packages-type-2 .blocks__desc.right .package-details, #special-packages-type-2 .package-boxes.right .blocks__text, #special-packages-type-2 .package-boxes.right .package-details {
                            position: absolute;
                            left: auto;
                            right: 0;
                            text-align: right; }
                
                          #blocks__about .blocks__desc.right .blocks__cos, #special-dishes .blocks__desc.right .blocks__cos, #blocks__about .package-boxes.right .blocks__cos, #special-dishes .package-boxes.right .blocks__cos, #special-packages-type-2 .blocks__desc.right .blocks__cos, #special-packages-type-2 .package-boxes.right .blocks__cos {
                            right: auto;
                            left: 0; }
                
                          #blocks__about .blocks__desc:hover:before, #special-dishes .blocks__desc:hover:before, #blocks__about .package-boxes:hover:before, #special-dishes .package-boxes:hover:before, #special-packages-type-2 .blocks__desc:hover:before, #special-packages-type-2 .package-boxes:hover:before {
                            background: rgba(0, 0, 0, 0.7); }
                
                          #blocks__about .blocks__desc:hover .package-img, #special-dishes .blocks__desc:hover .package-img, #blocks__about .package-boxes:hover .package-img, #special-dishes .package-boxes:hover .package-img, #special-packages-type-2 .blocks__desc:hover .package-img, #special-packages-type-2 .package-boxes:hover .package-img {
                            -moz-transform: scale(1.02) translateX(-50%) translateY(-50%);
                            -ms-transform: scale(1.02) translateX(-50%) translateY(-50%);
                            -webkit-transform: scale(1.02) translateX(-50%) translateY(-50%);
                            transform: scale(1.02) translateX(-50%) translateY(-50%); }
                          #blocks__about .blocks__desc:hover .blocks__text, #special-dishes .blocks__desc:hover .blocks__text, #blocks__about .blocks__desc:hover .package-details, #special-dishes .blocks__desc:hover .package-details, #blocks__about .package-boxes:hover .blocks__text, #special-dishes .package-boxes:hover .blocks__text, #blocks__about .package-boxes:hover .package-details, #special-dishes .package-boxes:hover .package-details, #special-packages-type-2 .blocks__desc:hover .blocks__text, #special-packages-type-2 .blocks__desc:hover .package-details, #special-packages-type-2 .package-boxes:hover .blocks__text, #special-packages-type-2 .package-boxes:hover .package-details {
                            background: #788186; }
                
                          #blocks__about .blocks__desc:hover .price, #special-dishes .blocks__desc:hover .price, #blocks__about .package-boxes:hover .price, #special-dishes .package-boxes:hover .price, #special-packages-type-2 .blocks__desc:hover .price, #special-packages-type-2 .package-boxes:hover .price {
                            left: 50%;
                            opacity: 1;
                            filter: alpha(opacity=100); }
                          @media (max-width: 992px) {
                            #blocks__about .blocks__desc, #special-dishes .blocks__desc, #blocks__about .package-boxes, #special-dishes .package-boxes, #special-packages-type-2 .blocks__desc, #special-packages-type-2 .package-boxes {
                              height: auto; }
                              #blocks__about .blocks__desc:before, #special-dishes .blocks__desc:before, #blocks__about .package-boxes:before, #special-dishes .package-boxes:before, #special-packages-type-2 .blocks__desc:before, #special-packages-type-2 .package-boxes:before {
                                display: none; }
                              #blocks__about .blocks__desc .room-img, #special-dishes .blocks__desc .room-img, #blocks__about .blocks__desc .package-img, #special-dishes .blocks__desc .package-img, #blocks__about .package-boxes .room-img, #special-dishes .package-boxes .room-img, #blocks__about .package-boxes .package-img, #special-dishes .package-boxes .package-img, #special-packages-type-2 .blocks__desc .room-img, #special-packages-type-2 .blocks__desc .package-img, #special-packages-type-2 .package-boxes .room-img, #special-packages-type-2 .package-boxes .package-img {
                                position: initial;
                                left: auto;
                                top: auto;
                                -moz-transform: translateX(0) translateY(0);
                                -ms-transform: translateX(0) translateY(0);
                                -webkit-transform: translateX(0) translateY(0);
                                transform: translateX(0) translateY(0); }
                              #blocks__about .blocks__desc .blocks__cos, #special-dishes .blocks__desc .blocks__cos, #blocks__about .package-boxes .blocks__cos, #special-dishes .package-boxes .blocks__cos, #special-packages-type-2 .blocks__desc .blocks__cos, #special-packages-type-2 .package-boxes .blocks__cos {
                                width: 100%;
                                height: 100px; }
                                #blocks__about .blocks__desc .blocks__cos .price, #special-dishes .blocks__desc .blocks__cos .price, #blocks__about .package-boxes .blocks__cos .price, #special-dishes .package-boxes .blocks__cos .price, #special-packages-type-2 .blocks__desc .blocks__cos .price, #special-packages-type-2 .package-boxes .blocks__cos .price {
                                  background: rgba(255, 255, 255, 0.9); }
                              #blocks__about .blocks__desc .blocks__text, #special-dishes .blocks__desc .blocks__text, #blocks__about .blocks__desc .package-details, #special-dishes .blocks__desc .package-details, #blocks__about .package-boxes .blocks__text, #special-dishes .package-boxes .blocks__text, #blocks__about .package-boxes .package-details, #special-dishes .package-boxes .package-details, #special-packages-type-2 .blocks__desc .blocks__text, #special-packages-type-2 .blocks__desc .package-details, #special-packages-type-2 .package-boxes .blocks__text, #special-packages-type-2 .package-boxes .package-details {
                                position: initial;
                                left: auto;
                                top: auto;
                                float: none;
                                width: 100%;
                                text-align: center;
                                padding: 30px;
                                background: #f9fafa; }
                              #blocks__about .blocks__desc.right .blocks__text, #special-dishes .blocks__desc.right .blocks__text, #blocks__about .blocks__desc.right .package-details, #special-dishes .blocks__desc.right .package-details, #blocks__about .package-boxes.right .blocks__text, #special-dishes .package-boxes.right .blocks__text, #blocks__about .package-boxes.right .package-details, #special-dishes .package-boxes.right .package-details, #special-packages-type-2 .blocks__desc.right .blocks__text, #special-packages-type-2 .blocks__desc.right .package-details, #special-packages-type-2 .package-boxes.right .blocks__text, #special-packages-type-2 .package-boxes.right .package-details {
                                position: initial;
                                left: auto;
                                right: auto;
                                text-align: center; }
                              #blocks__about .blocks__desc:hover .room-img, #special-dishes .blocks__desc:hover .room-img, #blocks__about .blocks__desc:hover .package-img, #special-dishes .blocks__desc:hover .package-img, #blocks__about .package-boxes:hover .room-img, #special-dishes .package-boxes:hover .room-img, #blocks__about .package-boxes:hover .package-img, #special-dishes .package-boxes:hover .package-img, #special-packages-type-2 .blocks__desc:hover .room-img, #special-packages-type-2 .blocks__desc:hover .package-img, #special-packages-type-2 .package-boxes:hover .room-img, #special-packages-type-2 .package-boxes:hover .package-img {
                                -moz-transform: scale(1.02) translateX(0) translateY(0);
                                -ms-transform: scale(1.02) translateX(0) translateY(0);
                                -webkit-transform: scale(1.02) translateX(0) translateY(0);
                                transform: scale(1.02) translateX(0) translateY(0); }
                              #blocks__about .blocks__desc:hover .blocks__text, #special-dishes .blocks__desc:hover .blocks__text, #blocks__about .blocks__desc:hover .package-details, #special-dishes .blocks__desc:hover .package-details, #blocks__about .package-boxes:hover .blocks__text, #special-dishes .package-boxes:hover .blocks__text, #blocks__about .package-boxes:hover .package-details, #special-dishes .package-boxes:hover .package-details, #special-packages-type-2 .blocks__desc:hover .blocks__text, #special-packages-type-2 .blocks__desc:hover .package-details, #special-packages-type-2 .package-boxes:hover .blocks__text, #special-packages-type-2 .package-boxes:hover .package-details {
                                background: #ecedee; } }